<h1>This is the list view</h1>

<h3>Awesome Things about Angular</h3>
<ul>
  <li>ng-view: single page awesomeness</li>
  <li>ng-model: two way data binding</li>
  <li ng-non-bindable>$scope: {{templating}}, just like handlebars</li>
</ul>

<h4>Filter list results</h4>
<input type="text" ng-model="searchList" placeholder="Search here"/>
</div>


<h3>MOAR Awesome things about angular</h3>
<h5 ng-if="list.length == 3">There are three of them!</h5>
<ul>
  <li ng-repeat="listItem in list | filter: searchList | orderBy: 'name'">{{listItem}}</li>
</ul>


<h3>Steps to set up an Angular app</h3>
<ul>
  <li>bower init, bower install angular --save</li>
  <li>don't forget to create a .gitignore and ignore your dependencies</li>
  <li>In your javascript:</li>
  <ul>
    <li>create your module</li>
    <li>set up your config</li>
    <li>create controller(s)</li>
    <li>create factory/ies -- optional</li>
    <li>create directive(s) -- optional</li>
  </ul>
  <li>In your HTML:</li>
  <ul>
    <li>add all appropriate script tags</li>
    <li>ng-app="nameOfApp"</li>
    <li>ng-view</li>
    <li>create partial(s)</li>
    <li>create directive(s) -- optional</li>
  </ul>
</ul>